@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -100%; }

  .carousel-inner .active.right {
    left: 100%; }

  .carousel-inner .next {
    left: 100%; }

  .carousel-inner .prev {
    left: -100%; }

  .active > div {
    display: none; }

  .active > div:first-child {
    display: block; }
 }

@media (min-width: 767px) and (max-width: 992px) {
  .carousel-inner .active.left {
    left: -50%; }

  .carousel-inner .active.right {
    left: 50%; }

  .carousel-inner .next {
    left: 50%; }

  .carousel-inner .prev {
    left: -50%; }

  .active {
    display: none; }

  .active:first-child {
    display: block; }

  .item .col-sm-6:first-child, .item .col-sm-6:last-child {
    display: none; }
 }

@media (min-width: 992px) and (max-width: 1200px) {
  .carousel-inner .active.left {
    left: -33.3333%; }

  .carousel-inner .active.right {
    left: 33.3333%; }

  .carousel-inner .next {
    left: 33.3333%; }

  .carousel-inner .prev {
    left: -33.3333%; }

  .active {
    display: none; }

  .active:first-child {
    display: block; }

  .item .col-sm-6:last-child {
    display: none; }
 }

@media (min-width: 1200px) {
  #homes-nearby .carousel-inner .active.left {
    left: -25%; }

  #homes-nearby .carousel-inner .active.right {
    left: 25%; }

  .carousel-inner .next {
    left: 25%; }

  .carousel-inner .prev {
    left: -25%; }
 }

html {
  height: 100%;
  min-height: 100%; }
  html body {
    height: 100%;
    min-height: 100%;
    font-family: Ubuntu, Helvetica, Arial, sans-serif; }
    html body input::-moz-focus-inner {
      border: 0; }
    html body nav.navbar-default {
      background: #fff;
      border: 0;
      height: 50px;
      margin: 0; }
      html body nav.navbar-default .navbar-header .navbar-brand {
        text-transform: uppercase; }
      html body nav.navbar-default .navbar-collapse .navbar-nav li {
        font-size: 13px;
        margin-left: 20px; }
        html body nav.navbar-default .navbar-collapse .navbar-nav li.login {
          background: url(../Images/login-icon.png) no-repeat left center; }
          html body nav.navbar-default .navbar-collapse .navbar-nav li.login a {
            color: #3e7486;
            padding-left: 22px; }
            html body nav.navbar-default .navbar-collapse .navbar-nav li.login a:hover {
              color: #355762; }
        html body nav.navbar-default .navbar-collapse .navbar-nav li.active a {
          background: #fff;
          color: #515151; }
        html body nav.navbar-default .navbar-collapse .navbar-nav li a {
          color: #a8a8a8;
          -webkit-transition: 0.3s color ease-in-out;
          transition: 0.3s color ease-in-out; }
          html body nav.navbar-default .navbar-collapse .navbar-nav li a:hover {
            color: #3e7486; }
    html body .container-fluid {
      position: relative; }
      html body .container-fluid#home-body {
        min-height: 600px;
        height: calc(100% - 297px); }
        html body .container-fluid#home-body #google-map {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 0; }
        html body .container-fluid#home-body #map-overlay {
          background: rgba(0, 0, 0, 0.4);
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1; }
        html body .container-fluid#home-body .home-modal {
          margin: 0 auto;
          position: relative;
          margin-top: 8%;
          max-width: 970px;
          z-index: 2; }
          html body .container-fluid#home-body .home-modal h1 {
            color: #fff;
            font-size: 65px;
            margin-top: 0;
            text-transform: uppercase;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
          html body .container-fluid#home-body .home-modal ul.nav-tabs {
            background: #efefef;
            border-bottom: 1px solid #c0c2c7;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
            position: relative;
            z-index: -1; }
            html body .container-fluid#home-body .home-modal ul.nav-tabs li {
              text-align: center; }
              html body .container-fluid#home-body .home-modal ul.nav-tabs li.active a {
                background: #fff;
                border-bottom: 1px solid #fff; }
                html body .container-fluid#home-body .home-modal ul.nav-tabs li.active a:hover {
                  background: #fff; }
              html body .container-fluid#home-body .home-modal ul.nav-tabs li a {
                background: #efefef;
                border-bottom: 0;
                border-left: 0;
                border-right: 1px solid #c0c2c7;
                border-top: 0;
                border-radius: 0;
                color: #414141;
                font-size: 15px;
                font-weight: 700;
                margin: 0;
                position: relative;
                text-transform: uppercase;
                -webkit-transition: 0.3s background ease-in-out;
                transition: 0.3s background ease-in-out;
                width: 240px;
                z-index: 1; }
                html body .container-fluid#home-body .home-modal ul.nav-tabs li a:hover {
                  background: #ddd;
                  color: #414141; }
          html body .container-fluid#home-body .home-modal .tab-content {
            background: #fff;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            padding: 60px 0; }
            html body .container-fluid#home-body .home-modal .tab-content .col-sm-6 {
              margin-bottom: 15px; }
            html body .container-fluid#home-body .home-modal .tab-content .form-control {
              border: 1px solid #b9b9b9;
              border-radius: 2px;
              height: 50px; }
            html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select {
              width: 100% !important; }
            html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select > .btn {
              background: url(../Images/select-bg.png) right center no-repeat #f9f9f9;
              border: 1px solid #b9b9b9;
              border-radius: 2px;
              height: 50px;
              padding-left: 10px; }
              html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select > .btn:focus {
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                outline: none !important; }
              html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select > .btn .caret {
                display: none; }
            html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select.btn-group > .dropdown-menu {
              border: 1px solid #b4b6bb;
              border-radius: 0;
              max-height: 600px !important;
              margin: 0;
              top: 100% !important; }
              html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select.btn-group > .dropdown-menu li a {
                font-size: 16px;
                padding: 0 1.625em;
                outline: none !important; }
                html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select.btn-group > .dropdown-menu li a:focus {
                  outline: none !important; }
                html body .container-fluid#home-body .home-modal .tab-content .bootstrap-select.btn-group > .dropdown-menu li a span.text {
                  border-bottom: 1px solid #d5d5d5;
                  padding: 0.75em 0;
                  width: 100%; }
            html body .container-fluid#home-body .home-modal .tab-content input[type="submit"] {
              background: #699aa4;
              border: 0;
              color: #fff;
              font-size: 16px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
              -webkit-transition: 0.3s background-color ease-in-out;
              transition: 0.3s background-color ease-in-out;
              width: 244px; }
              html body .container-fluid#home-body .home-modal .tab-content input[type="submit"]:hover {
                background-color: #378797; }
              html body .container-fluid#home-body .home-modal .tab-content input[type="submit"]#search-submit {
                background: url(../Images/search-button-bg.png) no-repeat #699aa4;
                background-position: 12% center;
                padding-left: 30px; }
            html body .container-fluid#home-body .home-modal .tab-content select {
              -webkit-appearance: button;
              -webkit-border-radius: 2px;
              -webkit-padding-end: 20px;
              -webkit-padding-start: 2px;
              -webkit-user-select: none;
              background: url(../Images/select-bg.png) right center no-repeat #f9f9f9;
              font-size: inherit;
              height: 50px;
              overflow: hidden;
              padding: 5px 10px;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%; }
            html body .container-fluid#home-body .home-modal .tab-content #code {
              height: 50px; }
              html body .container-fluid#home-body .home-modal .tab-content #code input[type="text"] {
                background: #f9f9f9;
                font-size: 24px;
                font-weight: 300;
                text-align: center; }
              html body .container-fluid#home-body .home-modal .tab-content #code label {
                display: block;
                margin-top: -24px; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type="range"] {
              -webkit-appearance: none; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]::-webkit-slider-runnable-track {
              background: url(../Images/range-bg.png) no-repeat;
              background-size: 100% 100%;
              border: none;
              height: 1px; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]::-webkit-slider-thumb {
              background: #d96e3a;
              border: none;
              border-radius: 100%;
              height: 10px;
              margin-top: -4px;
              -webkit-appearance: none;
              width: 10px; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]:focus {
              border: 0;
              outline: none; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]::-moz-range-track {
              height: 1px;
              background: url(../Images/range-bg.png) no-repeat;
              background-size: 100% 100%;
              border: none; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]::-moz-range-thumb {
              background: #d96e3a;
              border: none;
              border-radius: 100%;
              height: 10px;
              width: 10px; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]:-moz-focusring {
              outline: 1px solid white;
              outline-offset: -1px; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]::-ms-track {
              background: url(../Images/range-bg.png) no-repeat;
              background-size: 100% 100%;
              border: none;
              height: 1px; }
            html body .container-fluid#home-body .home-modal .tab-content #search input[type=range]::-ms-thumb {
              background: #d96e3a;
              border: none;
              border-radius: 100%;
              height: 10px;
              width: 10px; }
            html body .container-fluid#home-body .home-modal .tab-content #search section {
              margin-bottom: 23px; }
              html body .container-fluid#home-body .home-modal .tab-content #search section .heading {
                margin-bottom: 12px; }
            html body .container-fluid#home-body .home-modal .tab-content #search label {
              font-weight: 400; }
            html body .container-fluid#home-body .home-modal .tab-content #search .utilities {
              border-right: 1px solid #d9dadd;
              height: 170px; }
              html body .container-fluid#home-body .home-modal .tab-content #search .utilities section .heading img {
                margin-right: 5px; }
              html body .container-fluid#home-body .home-modal .tab-content #search .utilities section .heading input[type="number"] {
                border: 1px solid #b4b6bb;
                height: 25px;
                padding: 3px;
                width: 40px; }
              html body .container-fluid#home-body .home-modal .tab-content #search .utilities section .heading span {
                color: #414141;
                font-size: 18px; }
            html body .container-fluid#home-body .home-modal .tab-content #search .radius section input[type="text"] {
              border-radius: 2px;
              font-size: 18px;
              font-weight: 300;
              height: 32px;
              text-align: center; }
            html body .container-fluid#home-body .home-modal .tab-content #search .radius section input[type="number"] {
              border: 1px solid #b4b6bb;
              height: 25px;
              padding: 3px;
              width: 50px; }
            html body .container-fluid#home-body .home-modal .tab-content #search .price-range {
              border-left: 1px solid #d9dadd;
              height: 170px;
              padding-left: 30px; }
              html body .container-fluid#home-body .home-modal .tab-content #search .price-range input[type="submit"] {
                bottom: 0;
                position: absolute;
                right: 15px; }
              html body .container-fluid#home-body .home-modal .tab-content #search .price-range .container-fluid {
                position: relative; }
                html body .container-fluid#home-body .home-modal .tab-content #search .price-range .container-fluid .to {
                  color: #b9b9b9;
                  display: block;
                  left: 0;
                  position: absolute;
                  text-align: center;
                  top: 3px;
                  width: 100%;
                  z-index: 0; }
                html body .container-fluid#home-body .home-modal .tab-content #search .price-range .container-fluid .col-sm-6 {
                  z-index: 1; }
                  html body .container-fluid#home-body .home-modal .tab-content #search .price-range .container-fluid .col-sm-6:first-child {
                    padding-left: 0; }
                  html body .container-fluid#home-body .home-modal .tab-content #search .price-range .container-fluid .col-sm-6:last-child {
                    padding-right: 0; }
                html body .container-fluid#home-body .home-modal .tab-content #search .price-range .container-fluid select, html body .container-fluid#home-body .home-modal .tab-content #search .price-range .container-fluid .bootstrap-select > .btn {
                  background: url(../Images/select-bg-small.png) right center no-repeat;
                  height: 26px; }
      html body .container-fluid#content {
        background: url(../Images/inner-bg.jpg) no-repeat;
        background-size: cover; }
        html body .container-fluid#content .container {
          background: #fff;
          background: rgba(255, 255, 255, 0.9);
          margin-top: 52px;
          padding: 50px 40px 145px 40px; }
          html body .container-fluid#content .container h1 {
            color: #3e7486;
            font-size: 24px;
            margin: 0 0 0.375em 0; }
          html body .container-fluid#content .container h3 {
            color: #48443b;
            font-size: 18px;
            margin: 2.61111em 0 0.55556em 0; }
          html body .container-fluid#content .container p {
            font-size: 13px;
            margin: 0 0 2.23077em 0; }
      html body .container-fluid#listing {
        background: #edebe6; }
        html body .container-fluid#listing > .container {
          padding: 49px 0 37px 0; }
          html body .container-fluid#listing > .container .col-sm-6#listing-content {
            font-size: 13px; }
            html body .container-fluid#listing > .container .col-sm-6#listing-content h1 {
              color: #3e7486;
              font-size: 24px;
              margin: 0 0 1em 0; }
            html body .container-fluid#listing > .container .col-sm-6#listing-content table {
              margin-bottom: 24px;
              width: 100%; }
            html body .container-fluid#listing > .container .col-sm-6#listing-content p {
              margin-bottom: 24px; }
            html body .container-fluid#listing > .container .col-sm-6#listing-content h4 {
              margin: 24px 0 10px 0; }
            html body .container-fluid#listing > .container .col-sm-6#listing-content #google-map {
              border: 1px solid #6b6b6c;
              margin-top: 50px;
              height: 360px; }
          html body .container-fluid#listing > .container .col-sm-6 #home-photos {
            border: 1px solid #606162; }
            html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-indicators {
              bottom: 10px;
              height: 15px;
              left: 0;
              margin: 0;
              padding-right: 10px;
              text-align: right;
              width: 100%; }
              html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-indicators li {
                background: rgba(255, 255, 255, 0.5);
                border: 0;
                border-radius: 0;
                height: 15px;
                margin: 0 0 0 5px;
                width: 15px; }
                html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-indicators li.active {
                  background: rgba(255, 255, 255, 0.8);
                  display: inline-block;
                  height: 15px;
                  width: 15px; }
            html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-inner {
              height: 378px; }
              html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-inner .item {
                display: block !important;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transition: 0.6s all ease-in-out;
                transition: 0.6s all ease-in-out;
                position: absolute;
                top: 0;
                visibility: hidden;
                -webkit-backface-visibility: hidden;
                width: 100%; }
                html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-inner .item.active {
                  opacity: 1;
                  filter: alpha(opacity=100);
                  visibility: visible; }
                html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-inner .item img {
                  height: 100%;
                  width: 100%; }
          html body .container-fluid#listing > .container .col-sm-6 h4 {
            color: #48443b;
            margin-top: 24px; }
          html body .container-fluid#listing > .container .col-sm-6 .col-lg-6 {
            margin: 10px 0 9px 0; }
            html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.price h3 {
              color: #3e7486;
              margin-top: 0; }
            html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.price span {
              background: #938f84;
              color: #fff;
              font-size: 12px;
              font-weight: 300;
              margin: 0;
              padding: 6px 20px;
              text-transform: none; }
            html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities {
              background: #d96e3a;
              color: #fff;
              font-size: 13px;
              font-weight: 300;
              padding: 10px 15px; }
              html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4 {
                border-right: 1px solid #fff;
                text-align: center; }
                html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4:last-child {
                  border-right: 0; }
                html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4.bedrooms .number {
                  background: url(../Images/bed-icon-white.png) no-repeat left center; }
                html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4.bathrooms .number {
                  background: url(../Images/bathroom-icon-white.png) no-repeat left center; }
                html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4.garage .number {
                  background: url(../Images/garage-icon-white.png) no-repeat left center; }
                html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4 .content {
                  display: inline-block;
                  line-height: 1em;
                  text-align: left; }
                  html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4 .content .number {
                    display: block;
                    font-size: 18px;
                    line-height: 1.3em;
                    padding-left: 30px;
                    position: relative;
                    text-align: left; }
                    html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.utilities .col-xs-4 .content .number img {
                      bottom: 0;
                      left: 0;
                      position: absolute; }
          html body .container-fluid#listing > .container .col-sm-6 .col-md-6.contact-info {
            padding-left: 0; }
            html body .container-fluid#listing > .container .col-sm-6 .col-md-6.contact-info .form-control {
              border-color: #6698a2;
              border-radius: 2px;
              margin-bottom: 20px; }
          html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor {
            background: #cbdadf;
            float: right;
            color: #48443b;
            font-size: 13px;
            padding: 10px; }
            html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor img {
              border: 1px solid #606162;
              float: left;
              margin: 0 9px 8px 0; }
            html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor h5 {
              font-size: 13px;
              margin-top: 0; }
              html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor h5.name {
                color: #6698a2; }
              html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor h5.company {
                font-weight: 400; }
              html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor h5 a {
                color: #48443b; }
                html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor h5 a:hover {
                  text-decoration: none; }
          html body .container-fluid#listing > .container .col-sm-6 .col-xs-12 textarea {
            border-color: #6698a2;
            border-radius: 2px;
            height: 75px;
            margin-bottom: 14px;
            resize: none; }
          html body .container-fluid#listing > .container .col-sm-6 .col-xs-12 input[type="submit"] {
            background: #699aa4;
            border: 0;
            border-radius: 0;
            color: #fff;
            float: right;
            font-size: 16px;
            height: 40px;
            line-height: 20px;
            letter-spacing: 0.05em;
            padding: 0 40px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            -webkit-transition: 0.3s background-color ease-in-out;
            transition: 0.3s background-color ease-in-out; }
            html body .container-fluid#listing > .container .col-sm-6 .col-xs-12 input[type="submit"]:hover {
              background-color: #378797;
              text-decoration: none; }
      html body .container-fluid#results {
        background: #edebe6; }
        html body .container-fluid#results > .container {
          background: #fff;
          margin: 20px auto 40px auto;
          padding: 0 30px 30px 30px; }
          html body .container-fluid#results > .container .row .col-sm-6 {
            padding: 10px 15px; }
            html body .container-fluid#results > .container .row .col-sm-6 .nearby-home {
              -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
              html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.home-img {
                border-bottom: 1px solid #fff; }
                html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.home-img img {
                  width: 100%; }
              html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities {
                background: #d96e3a;
                color: #fff;
                font-size: 13px;
                font-weight: 300;
                padding: 10px 0; }
                html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4 {
                  border-right: 1px solid #fff;
                  text-align: center; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4:last-child {
                    border-right: 0; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4.bedrooms .number {
                    background: url(../Images/bed-icon-white.png) no-repeat left center; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4.bathrooms .number {
                    background: url(../Images/bathroom-icon-white.png) no-repeat left center; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4.garage .number {
                    background: url(../Images/garage-icon-white.png) no-repeat left center; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4 .content {
                    display: inline-block;
                    text-align: left; }
                    html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4 .content .number {
                      display: block;
                      font-size: 18px;
                      padding-left: 30px;
                      position: relative;
                      text-align: left; }
                      html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.utilities .col-xs-4 .content .number img {
                        bottom: 0;
                        left: 0;
                        position: absolute; }
              html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details {
                background: #fff;
                padding-bottom: 13px; }
                html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details h5 {
                  color: #414141;
                  float: left;
                  font-size: 13px;
                  text-transform: uppercase; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details h5.price {
                    font-size: 17px;
                    float: right;
                    text-transform: none; }
                    html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details h5.price sup {
                      font-size: 11px;
                      padding-left: 2px; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details h5 span {
                    color: #8a8a8a;
                    display: block;
                    font-weight: 100;
                    text-transform: none; }
                html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 {
                  padding: 0;
                  position: relative; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 h5.for-rent {
                    background: #938f84;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 300;
                    left: 0;
                    margin: 0;
                    padding: 6px 20px;
                    position: absolute;
                    text-transform: none;
                    top: 0; }
                  html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 a.details {
                    background: #699aa4;
                    border: 0;
                    border-radius: 0;
                    color: #fff;
                    font-size: 14px;
                    height: 34px;
                    line-height: 20px;
                    letter-spacing: 0.05em;
                    text-align: center;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                    -webkit-transition: 0.3s background-color ease-in-out;
                    transition: 0.3s background-color ease-in-out; }
                    html body .container-fluid#results > .container .row .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 a.details:hover {
                      background-color: #378797;
                      text-decoration: none; }
      html body .container-fluid#homes-nearby {
        border-bottom: 50px solid #edebe6;
        padding: 0 0 30px 0; }
        html body .container-fluid#homes-nearby .container {
          padding: 0;
          position: relative; }
        html body .container-fluid#homes-nearby h3 {
          color: #a1a1a1;
          font-size: 15px;
          margin: 22px 0 19px 0;
          padding-left: 15px;
          text-transform: uppercase; }
        html body .container-fluid#homes-nearby .controls {
          height: 16px;
          position: absolute;
          right: 0;
          top: 18px;
          width: 36px; }
          html body .container-fluid#homes-nearby .controls .carousel-control {
            background: none;
            font-size: inherit;
            opacity: 0.4;
            filter: alpha(opacity=40);
            position: static;
            -webkit-transition: 0.3s opacity ease-in-out;
            transition: 0.3s opacity ease-in-out;
            -webkit-backface-visibility: hidden;
            width: auto; }
            html body .container-fluid#homes-nearby .controls .carousel-control:hover {
              opacity: 1;
              filter: alpha(opacity=100); }
        html body .container-fluid#homes-nearby .item.active.right .col-sm-6:not(:last-child) .nearby-home {
          -webkit-box-shadow: none;
          box-shadow: none; }
        html body .container-fluid#homes-nearby .item.active.left .col-sm-6:not(:first-child) .nearby-home {
          -webkit-box-shadow: none;
          box-shadow: none; }
        html body .container-fluid#homes-nearby .item .col-sm-6 {
          padding: 10px 15px; }
          html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home {
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
            html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.home-img {
              border-bottom: 1px solid #fff; }
              html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.home-img img {
                width: 100%; }
            html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities {
              background: #d96e3a;
              color: #fff;
              font-size: 13px;
              font-weight: 300;
              padding: 10px 0; }
              html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4 {
                border-right: 1px solid #fff;
                text-align: center; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4:last-child {
                  border-right: 0; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4.bedrooms .number {
                  background: url(../Images/bed-icon-white.png) no-repeat left center; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4.bathrooms .number {
                  background: url(../Images/bathroom-icon-white.png) no-repeat left center; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4.garage .number {
                  background: url(../Images/garage-icon-white.png) no-repeat left center; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4 .content {
                  display: inline-block;
                  text-align: left; }
                  html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4 .content .number {
                    display: block;
                    font-size: 18px;
                    padding-left: 30px;
                    position: relative;
                    text-align: left; }
                    html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.utilities .col-xs-4 .content .number img {
                      bottom: 0;
                      left: 0;
                      position: absolute; }
            html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details {
              background: #fff;
              padding-bottom: 13px; }
              html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details h5 {
                color: #414141;
                float: left;
                font-size: 13px;
                text-transform: uppercase; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details h5.price {
                  font-size: 17px;
                  float: right;
                  text-transform: none; }
                  html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details h5.price sup {
                    font-size: 11px;
                    padding-left: 2px; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details h5 span {
                  color: #8a8a8a;
                  display: block;
                  font-weight: 100;
                  text-transform: none; }
              html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 {
                padding: 0;
                position: relative; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 h5.for-rent {
                  background: #938f84;
                  color: #fff;
                  font-size: 12px;
                  font-weight: 300;
                  left: 0;
                  margin: 0;
                  padding: 6px 20px;
                  position: absolute;
                  text-transform: none;
                  top: 0; }
                html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 a.details {
                  background: #699aa4;
                  border: 0;
                  border-radius: 0;
                  color: #fff;
                  font-size: 14px;
                  height: 34px;
                  line-height: 20px;
                  letter-spacing: 0.05em;
                  text-align: center;
                  text-transform: uppercase;
                  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                  -webkit-transition: 0.3s background-color ease-in-out;
                  transition: 0.3s background-color ease-in-out; }
                  html body .container-fluid#homes-nearby .item .col-sm-6 .nearby-home .row.details .container-fluid .col-xs-6 a.details:hover {
                    background-color: #378797;
                    text-decoration: none; }
      html body .container-fluid#social {
        background: #9eb9c2;
        border-bottom: 1px solid #7f9ba6;
        border-top: 6px solid #fff;
        height: 73px;
        padding: 17px 0; }
        html body .container-fluid#social .container .tool-tip {
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 5px solid #fff;
          display: block;
          height: 1px;
          left: 50%;
          margin-left: -8px;
          position: absolute;
          top: 0px;
          width: 1px; }
        html body .container-fluid#social .container h2 {
          color: #fff;
          float: left;
          font-size: 15px;
          line-height: 32px;
          margin: 0;
          text-transform: uppercase; }
        html body .container-fluid#social .container .icons {
          float: right; }
          html body .container-fluid#social .container .icons img {
            margin-left: 8px;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -webkit-transition: 0.3s opacity ease-in-out;
            transition: 0.3s opacity ease-in-out;
            -webkit-backface-visibility: hidden; }
            html body .container-fluid#social .container .icons img:hover {
              opacity: 1;
              filter: alpha(opacity=100); }
      html body .container-fluid#footer {
        background: #e4ebee;
        border-bottom: 1px solid #c2c4c9;
        height: 174px; }
        html body .container-fluid#footer .container {
          height: 173px;
          position: relative; }
          html body .container-fluid#footer .container ul {
            margin: 40px 0 0 0;
            padding: 0; }
            html body .container-fluid#footer .container ul li {
              float: left;
              font-weight: 300;
              list-style: none;
              margin-right: 70px; }
              html body .container-fluid#footer .container ul li a {
                color: #414141;
                -webkit-transition: 0.3s color ease-in-out;
                transition: 0.3s color ease-in-out; }
                html body .container-fluid#footer .container ul li a:hover {
                  color: #378797;
                  text-decoration: none; }
          html body .container-fluid#footer .container h5 {
            bottom: 30px;
            color: #a7a7a7;
            font-weight: 300;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%; }

@media (max-width: 1200px) {
  html body .container-fluid#home-body #search-panel .tab-content input[type="submit"] {
    width: 100%; }
  html body .container-fluid#home-body #search-panel .tab-content #search .price-range input[type="submit"] {
    width: 244px; }
  html body .container-fluid#listing > .container .col-sm-6#listing-content #google-map {
    height: 300px;
    margin-top: 40px; }
  html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-inner {
    height: 312px; }
 }

@media (max-width: 992px) {
  html body .container-fluid#home-body #search-panel .tab-content input[type="submit"] {
    background-position: 10% center;
    font-size: 14px; }
  html body .container-fluid#home-body #search-panel .tab-content #code label {
    font-size: 16px;
    margin-top: 0; }
  html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-inner {
    height: 238px; }
  html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.price h3 {
    float: left; }
  html body .container-fluid#listing > .container .col-sm-6 .col-lg-6.price span {
    float: right; }
  html body .container-fluid#listing > .container .col-sm-6 .col-md-6.contact-info {
    padding-right: 0; }
  html body .container-fluid#listing > .container .col-sm-6 .col-md-6.realtor {
    float: none;
    margin-bottom: 20px; }
  html body .container-fluid#listing > .container .col-sm-6 .col-xs-12 input[type="submit"] {
    width: 100%; }
 }

@media (max-width: 421px) {
  html body .container-fluid#home-body #search-panel ul.nav-tabs li a span {
    display: block; }
 }

@media (max-width: 768px) {
  html body nav.navbar-default {
    height: auto; }
    html body nav.navbar-default .navbar-collapse .navbar-nav {
      margin: 0 -15px; }
      html body nav.navbar-default .navbar-collapse .navbar-nav li {
        border-bottom: 1px solid #c0c2c7;
        font-size: 15px;
        margin: 0; }
        html body nav.navbar-default .navbar-collapse .navbar-nav li:last-child {
          border-bottom: 0; }
        html body nav.navbar-default .navbar-collapse .navbar-nav li.login {
          background-image: none; }
          html body nav.navbar-default .navbar-collapse .navbar-nav li.login a {
            padding-left: 15px; }
        html body nav.navbar-default .navbar-collapse .navbar-nav li.active a {
          background-color: #e6e6e6; }
  html body .container-fluid#home-body {
    height: auto;
    min-height: calc(100% - 297px); }
    html body .container-fluid#home-body #search-panel {
      margin: 50px 0; }
      html body .container-fluid#home-body #search-panel h1 {
        font-size: 50px; }
      html body .container-fluid#home-body #search-panel ul.nav-tabs li {
        width: 50%; }
        html body .container-fluid#home-body #search-panel ul.nav-tabs li.active a {
          border-bottom: 1px solid #fff;
          border-left: 0;
          border-right: 0; }
        html body .container-fluid#home-body #search-panel ul.nav-tabs li a {
          border-bottom: 1px solid #c0c2c7;
          border-left: 1px solid #c0c2c7;
          display: block;
          width: 100%; }
      html body .container-fluid#home-body #search-panel .tab-content {
        padding: 40px 0; }
        html body .container-fluid#home-body #search-panel .tab-content input[type="submit"] {
          background-image: none;
          padding-left: auto; }
        html body .container-fluid#home-body #search-panel .tab-content .bootstrap-select.btn-group > .dropdown-menu {
          max-height: 400px !important; }
        html body .container-fluid#home-body #search-panel .tab-content #code {
          height: auto; }
          html body .container-fluid#home-body #search-panel .tab-content #code input[type="text"], html body .container-fluid#home-body #search-panel .tab-content #code select, html body .container-fluid#home-body #search-panel .tab-content #code .btn-group {
            margin-bottom: 20px; }
        html body .container-fluid#home-body #search-panel .tab-content #search input[type=range]::-webkit-slider-runnable-track {
          height: 2px; }
        html body .container-fluid#home-body #search-panel .tab-content #search input[type=range]::-webkit-slider-thumb {
          height: 15px;
          margin-top: -6px;
          width: 15px; }
        html body .container-fluid#home-body #search-panel .tab-content #search input[type=range]::-moz-range-track {
          height: 2px; }
        html body .container-fluid#home-body #search-panel .tab-content #search input[type=range]::-moz-range-thumb {
          height: 15px;
          width: 15px; }
        html body .container-fluid#home-body #search-panel .tab-content #search input[type=range]::-ms-track {
          height: 2px; }
        html body .container-fluid#home-body #search-panel .tab-content #search input[type=range]::-ms-thumb {
          height: 15px;
          width: 15px; }
        html body .container-fluid#home-body #search-panel .tab-content #search .utilities {
          border-bottom: 1px solid #d9dadd;
          border-right: 0;
          height: auto;
          padding-bottom: 25px; }
          html body .container-fluid#home-body #search-panel .tab-content #search .utilities section .heading {
            margin-bottom: 15px; }
        html body .container-fluid#home-body #search-panel .tab-content #search .radius {
          border-bottom: 1px solid #d9dadd;
          padding: 25px 15px; }
        html body .container-fluid#home-body #search-panel .tab-content #search .price-range {
          border-left: 0;
          height: auto;
          padding: 25px 15px; }
          html body .container-fluid#home-body #search-panel .tab-content #search .price-range .container-fluid {
            padding: 0; }
            html body .container-fluid#home-body #search-panel .tab-content #search .price-range .container-fluid .bootstrap-select > .btn {
              background: url(../Images/select-bg.png) right center no-repeat #f9f9f9;
              height: 50px; }
            html body .container-fluid#home-body #search-panel .tab-content #search .price-range .container-fluid .col-sm-6:first-child {
              padding-left: 15px;
              z-index: 2; }
            html body .container-fluid#home-body #search-panel .tab-content #search .price-range .container-fluid .col-sm-6:last-child {
              padding-right: 15px;
              z-index: 1; }
            html body .container-fluid#home-body #search-panel .tab-content #search .price-range .container-fluid .to {
              padding: 10px 0;
              position: static; }
          html body .container-fluid#home-body #search-panel .tab-content #search .price-range input[type="submit"] {
            position: static;
            width: 100%; }
  html body .container-fluid#content {
    padding: 0; }
    html body .container-fluid#content .container {
      border-top: 1px solid #ddd;
      margin-top: 0;
      padding: 30px 15px 65px 15px; }
      html body .container-fluid#content .container h3 {
        margin-top: 1.6em; }
      html body .container-fluid#content .container p {
        margin-bottom: 1.6em; }
  html body .container-fluid#listing > .container .col-sm-6 #home-photos .carousel-inner {
    height: 192px; }
  html body .container-fluid#listing > .container .col-sm-6#listing-content h1 {
    margin-top: 1em; }
  html body .container-fluid#listing > .container .col-sm-6#listing-content p {
    font-size: 14px; }
  html body .container-fluid#listing > .container .col-sm-6#listing-content #google-map {
    margin-top: 30px; }
  html body .container-fluid#homes-nearby {
    padding: 0 15px 30px 15px; }
    html body .container-fluid#homes-nearby .nearby-home .row.utilities .col-xs-4 {
      font-size: 15px; }
      html body .container-fluid#homes-nearby .nearby-home .row.utilities .col-xs-4 div {
        font-size: 15px; }
  html body .container-fluid#social .container .icons img {
    opacity: 1;
    filter: alpha(opacity=100); }
  html body .container-fluid#footer .container {
    height: auto;
    padding: 20px 0 0 0; }
    html body .container-fluid#footer .container ul {
      margin: 0; }
      html body .container-fluid#footer .container ul li {
        display: block;
        float: none;
        margin: 0 0 0.8em 0;
        text-align: center; }
    html body .container-fluid#footer .container h5 {
      margin: 20px 0 0 0;
      position: static; }
 }
