@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";

$ubuntu: Ubuntu, Helvetica, Arial, sans-serif;

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}
	.carousel-inner .active.right {
		left: 100%;
	}
	.carousel-inner .next {
		left:  100%;
	}
	.carousel-inner .prev {
		left: -100%;
	}
	.active > div {
		display:none;
	}
	.active > div:first-child {
		display:block;
	}
}
@media (min-width: 767px) and (max-width: 992px) {
	.carousel-inner .active.left {
		left: -50%;
	}
	.carousel-inner .active.right {
		left: 50%; 
	}
	.carousel-inner .next {
		left:  50%; 
	}
	.carousel-inner .prev {
		left: -50%; 
	}
	.active {
		display:none;
	}
	.active:first-child {
		display:block; 
	}
	.item .col-sm-6:first-child, .item .col-sm-6:last-child {
		display: none;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.carousel-inner .active.left {
		left: -33.3333%; 
	}
	.carousel-inner .active.right {
		left: 33.3333%; 
	}
	.carousel-inner .next {
		left:  33.3333%; 
	}
	.carousel-inner .prev {
		left: -33.3333%; 
	}
	.active {
		display:none; 
	}
	.active:first-child {
		display:block; 
	}
	.item .col-sm-6:last-child{
		display: none;
	}
}
@media (min-width: 1200px) {
	#homes-nearby .carousel-inner .active.left {
		left: -25%;
	}
	#homes-nearby .carousel-inner .active.right {
		left: 25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
}

html {
	height: 100%;
	min-height: 100%;
	body {
		height: 100%;
		min-height: 100%;
		font-family: $ubuntu;
		input::-moz-focus-inner { 
		  border: 0; 
		}
		nav {
			&.navbar-default {
				background: #fff;
				border: 0;
				height:50px;
				margin: 0;
				.navbar-header {
					.navbar-brand {
						text-transform: uppercase;
					}
				}
				.navbar-collapse {
					.navbar-nav {
						li {
							font-size: 13px;
							margin-left: 20px;
							&.login {
								background: url(../Images/login-icon.png) no-repeat left center;
								a {
									color: #3e7486;
									padding-left: 22px;
									&:hover {
										color: #355762;
									}
								}
							}
							&.active {
								a {
									background: #fff;
									color: #515151;
								}
							}
							a {
								color: #a8a8a8;
								@include transition(.3s color ease-in-out);
								&:hover {
									color: #3e7486;
								}
							}
						}
					}
				}
			}
		}
		.container-fluid {
			position: relative;
			&#home-body {
				min-height: 600px;
				height: calc(100% - 297px);
				#google-map {
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 0;
				}
				#map-overlay {
					background: rgba(0,0,0,.4);
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 1;
				}
				.home-modal {
					margin: 0 auto;
					position: relative;
					margin-top: 8%;
					max-width: 970px;
					z-index: 2;
					h1 {
						color: #fff;
						font-size: 65px;
						margin-top: 0;
						text-transform: uppercase;
						text-shadow: 1px 1px 3px rgba(0,0,0,.3);
					}
					ul {
						&.nav-tabs {
							background: #efefef;
							border-bottom: 1px solid #c0c2c7;
							border-left: 0;
							border-right: 0;
							border-top: 0;
							border-top-left-radius: 3px;
							border-top-right-radius: 3px;
							@include box-shadow(0 -1px 3px rgba(0,0,0,.3));
							position: relative;
							z-index: -1;
							li {
								text-align: center;
								&.active {
									a {
										background: #fff;
										border-bottom: 1px solid #fff;
										&:hover {
											background: #fff;
										}
									}
								}
								a {
									background: #efefef;
									border-bottom: 0;
									border-left: 0;
									border-right: 1px solid #c0c2c7;
									border-top: 0;
									border-radius: 0;
									color: #414141;
									font-size: 15px;
									font-weight: 700;
									margin: 0;
									position: relative;
									text-transform: uppercase;
									@include transition(.3s background ease-in-out);
									width: 240px;
									z-index: 1;
									&:hover {
										background: #ddd;
										color: #414141;
									}
								}
							}
						}
					}
					.tab-content {
						background: #fff;
						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px;
						@include box-shadow(0 2px 2px rgba(0,0,0,.3));
						padding: 60px 0;
						.col-sm-6 {
							margin-bottom: 25px;
						}
						.form-control {
							border: 1px solid #b9b9b9;
							border-radius: 2px;
							height: 50px;
						}
						.bootstrap-select {
							width: 100% !important;
						}
						.bootstrap-select>.btn {
							background: url(../Images/select-bg.png) right center no-repeat #f9f9f9;
							border: 1px solid #b9b9b9;
							border-radius: 2px;
							height: 50px;
							padding-left: 10px;
							&:focus {
								@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6));
								outline: none !important;
							}
							.caret {
								display: none;
							}
						}
						.bootstrap-select.btn-group>.dropdown-menu {
							border: 1px solid #b4b6bb;
							border-radius: 0;
							max-height: 600px !important;
							margin: 0;
							top: 100% !important;
							li {
								a {
									font-size: 16px;
									padding: 0 1.625em;
									outline: none !important;
									&:focus {
										outline: none !important;
									}
									span {
										&.text {
											border-bottom: 1px solid #d5d5d5;
											padding: 0.75em 0;
											width: 100%;
										}
									}
								}
							}
						}
						input[type="submit"] {
							background: #699aa4;
							border: 0;
							color: #fff;
							font-size: 16px;
							letter-spacing: .05em;
							text-transform: uppercase;
							text-shadow: 1px 1px 3px rgba(0,0,0,.3);
							@include transition(.3s background-color ease-in-out);
							width: 244px;
							&:hover {
								background-color: #378797;
							}
							&#search-submit {
								background: url(../Images/search-button-bg.png) no-repeat #699aa4;
								background-position: 12% center;
								padding-left: 30px;
							}
						}
						select {
							-webkit-appearance: button;
							-webkit-border-radius: 2px;
							-webkit-padding-end: 20px;
							-webkit-padding-start: 2px;
							-webkit-user-select: none;
							background: url(../Images/select-bg.png) right center no-repeat #f9f9f9;
							font-size: inherit;
							height: 50px;
							overflow: hidden;
							padding: 5px 10px;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: 100%;
						}
						#code {
							height: 50px;
							input[type="text"] {
								background: #f9f9f9;
								font-size: 24px;
								font-weight: 300;
								text-align: center;
							}
							label {
								display: block;
								margin-top: -24px;
							}
						}
						#search {
							input[type="range"] {
								-webkit-appearance: none;
							}
							input[type=range]::-webkit-slider-runnable-track {
								background: url(../Images/range-bg.png) no-repeat;
								background-size: 100% 100%;
							    border: none;
							    height: 1px;
							}
							input[type=range]::-webkit-slider-thumb {
								background: #d96e3a;
								border: none;
							    border-radius: 100%;
							    height: 10px;
							    margin-top: -4px;
							    -webkit-appearance: none;
							    width: 10px;
							}
							input[type=range]:focus {
								border: 0;
							    outline: none;
							}
							input[type=range]::-moz-range-track {
							    height: 1px;
							    background: url(../Images/range-bg.png) no-repeat;
								background-size: 100% 100%;
							    border: none;
							}
							input[type=range]::-moz-range-thumb {
								background: #d96e3a;
							    border: none;
							    border-radius: 100%;
							    height: 10px;
							    width: 10px;
							}
							input[type=range]:-moz-focusring{
							    outline: 1px solid white;
							    outline-offset: -1px;
							}
							input[type=range]::-ms-track {
								background: url(../Images/range-bg.png) no-repeat;
								background-size: 100% 100%;
							    border: none;
							    height: 1px;
							}
							input[type=range]::-ms-thumb {
								background: #d96e3a;
							    border: none;
							    border-radius: 100%;
							    height: 10px;
							    width: 10px;
							}
							section {
								margin-bottom: 23px;
								.heading {
									margin-bottom: 12px;
								}
							}
							label {
								font-weight: 400;
							}
							.utilities {
								border-right: 1px solid #d9dadd;
								height: 170px;
								section {
									.heading {
										img {
											margin-right: 5px;
										}
										input[type="number"] {
											border: 1px solid #b4b6bb;
											height: 25px;
											padding: 3px;
											width: 40px;
										}
										span {
											color: #414141;
											font-size: 18px;
										}
									}
								}
							}
							.radius {
								section {
									input[type="text"] {
										border-radius: 2px;
										font-size: 18px;
										font-weight: 300;
										height: 32px;
										text-align: center;
									}
									input[type="number"] {
										border: 1px solid #b4b6bb;
										height: 25px;
										padding: 3px;
										width: 50px;
									}
								}
							}
							.price-range {
								border-left: 1px solid #d9dadd;
								height: 170px;
								padding-left: 30px;
								input[type="submit"] {
									bottom: 0;
									position: absolute;
									right: 15px;
								}
								.container-fluid {
									position: relative;
									.to {
										color: #b9b9b9;
										display: block;
										left: 0;
										position: absolute;
										text-align: center;
										top: 3px;
										width: 100%;
										z-index: 0;
									}
									.col-sm-6 {
										z-index: 1;
										&:first-child {
											padding-left: 0;
										}
										&:last-child {
											padding-right: 0;
										}
									}
									select, .bootstrap-select>.btn {
										background: url(../Images/select-bg-small.png) right center no-repeat;
										height: 26px;
									}
								}
							}
						}
					}
				}
			}
			&#content {
				background: url(../Images/inner-bg.jpg) no-repeat;
				background-size: cover;
				.container {
					background: #fff;
					background: rgba(255,255,255,.9);
					margin-top: 52px;
					padding: 50px 40px 145px 40px;
					h1 {
						color: #3e7486;
						font-size: 24px;
						margin: 0 0 0.375em 0;
					}
					h3 {
						color: #48443b;
						font-size: 18px;
						margin: 2.61111111em 0 0.55555556em 0;
					}
					p {
						font-size: 13px;
						margin: 0 0 2.23076923em 0;
					}
				}
			}
			&#listing {
				background: #edebe6;
				>.container {
					padding: 49px 0 37px 0;
					.col-sm-6 {
						&#listing-content {
							font-size: 13px;
							h1 {
								color: #3e7486;
								font-size: 24px;
								margin: 0 0 1em 0;
							}
							table {
								margin-bottom: 24px;
								width: 100%;
							}
							p {
								margin-bottom: 24px;
							}
							h4 {
								margin: 24px 0 10px 0;
							}
							#google-map {
								border: 1px solid #6b6b6c;
								margin-top: 50px;
								height: 360px;
							}
						}
						#home-photos {
							border: 1px solid #606162;
							.carousel-indicators {
								bottom: 10px;
								height: 15px;
								left: 0;
								margin: 0;
								padding-right: 10px;
								text-align: right;
								width: 100%;
								li {
									background: rgba(255,255,255,.5);
									border: 0;
									border-radius: 0;
									height: 15px;
									margin: 0 0 0 5px;
									width: 15px;
									&.active {
										background: rgba(255,255,255,.8);
										display: inline-block;
										height: 15px;
										width: 15px;
									}
								}
							}
							.carousel-inner {
								height: 378px;
								.item {
									display: block !important;
									left: 0;
									@include opacity(0);
									@include transition(.6s all ease-in-out);
									position: absolute;
									top: 0;
									visibility: hidden;
									-webkit-backface-visibility: hidden;
									width: 100%;
									&.active {
										@include opacity(1);
										visibility: visible;
									}
									img {
										height: 100%;
										width: 100%;
									}
								}
							}
						}
						h4 {
							color: #48443b;
							margin-top: 24px;
						}
						.col-lg-6 {
							margin: 10px 0 9px 0;
							&.price {
								h3 {
									color: #3e7486;
									margin-top: 0;
								}
								span {
									background: #938f84;
									color: #fff;
									font-size: 12px;
									font-weight: 300;
									margin: 0;
									padding: 6px 20px;
									text-transform: none;
								}
							}
							&.utilities {
								background: #d96e3a;
								color: #fff;
								font-size: 13px;
								font-weight: 300;
								padding: 10px 15px;
								.col-xs-4 {
									border-right: 1px solid #fff;
									text-align: center;
									&:last-child {
										border-right: 0;
									}
									&.bedrooms {
										.number {
											background: url(../Images/bed-icon-white.png) no-repeat left center;
										}
									}
									&.bathrooms {
										.number {
											background: url(../Images/bathroom-icon-white.png) no-repeat left center;
										}
									}
									&.garage {
										.number {
											background: url(../Images/garage-icon-white.png) no-repeat left center;
										}
									}
									.content {
										display: inline-block;
										line-height: 1em;
										text-align: left;
										.number {
											display: block;
											font-size: 18px;
											line-height: 1.3em;
											padding-left: 30px;
											position: relative;
											text-align: left;
											img {
												bottom: 0;
												left: 0;
												position: absolute;
											}
										}
									}
								}
							}
						}
						.col-md-6 {
							&.contact-info {
								padding-left: 0;
								.form-control {
									border-color: #6698a2;
									border-radius: 2px;
									margin-bottom: 20px;
								}
							}
							&.realtor {
								background: #cbdadf;
								float: right;
								color: #48443b;
								font-size: 13px;
								padding: 10px;
								img {
									border: 1px solid #606162;
									float: left;
									margin: 0 9px 8px 0;
								}
								h5 {
									font-size: 13px;
									margin-top: 0;
									&.name {
										color: #6698a2;
									}
									&.company {
										font-weight: 400;
									}
									a {
										color: #48443b;
										&:hover {
											text-decoration: none;
										}
									}
								}
							}
						}
						.col-xs-12 {
							textarea {
								border-color: #6698a2;
								border-radius: 2px;
								height: 75px;
								margin-bottom: 14px;
								resize: none;
							}
							input[type="submit"] {
								background: #699aa4;
								border: 0;
								border-radius: 0;
								color: #fff;
								float: right;
								font-size: 16px;
								height: 40px;
								line-height: 20px;
								letter-spacing: .05em;
								padding: 0 40px;
								text-align: center;
								text-transform: uppercase;
								text-shadow: 1px 1px 3px rgba(0,0,0,.3);
								@include transition(.3s background-color ease-in-out);
								&:hover {
									background-color: #378797;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
			&#results {
				background: #edebe6;
				&>.container {
					background: #fff;
					margin: 20px auto 40px auto;
					padding: 0 30px 30px 30px;
					.row {
						.col-sm-6 {
							padding: 10px 15px;
							.nearby-home {
								@include box-shadow(0 0 5px rgba(0,0,0,.5));
								.row {
									&.home-img {
										border-bottom: 1px solid #fff;
										img {
											width: 100%;
										}
									}
									&.utilities {
										background: #d96e3a;
										color: #fff;
										font-size: 13px;
										font-weight: 300;
										padding: 10px 0;
										.col-xs-4 {
											border-right: 1px solid #fff;
											text-align: center;
											&:last-child {
												border-right: 0;
											}
											&.bedrooms {
												.number {
													background: url(../Images/bed-icon-white.png) no-repeat left center;
												}
											}
											&.bathrooms {
												.number {
													background: url(../Images/bathroom-icon-white.png) no-repeat left center;
												}
											}
											&.garage {
												.number {
													background: url(../Images/garage-icon-white.png) no-repeat left center;
												}
											}
											.content {
												display: inline-block;
												text-align: left;
												.number {
													display: block;
													font-size: 18px;
													padding-left: 30px;
													position: relative;
													text-align: left;
													img {
														bottom: 0;
														left: 0;
														position: absolute;
													}
												}
											}
										}
									}
									&.details {
										background: #fff;
										padding-bottom: 13px;
										h5 {
											color: #414141;
											float: left;
											font-size: 13px;
											text-transform: uppercase;
											&.price {
												font-size: 17px;
												float: right;
												text-transform: none;
												sup {
													font-size: 11px;
													padding-left: 2px;
												}
											}
											span {
												color: #8a8a8a;
												display: block;
												font-weight: 100;
												text-transform: none;
											}
										}
										.container-fluid {
											.col-xs-6 {
												padding: 0;
												position: relative;
												h5 {
													&.for-rent {
														background: #938f84;
														color: #fff;
														font-size: 12px;
														font-weight: 300;
														left: 0;
														margin: 0;
														padding: 6px 20px;
														position: absolute;
														text-transform: none;
														top: 0;
													}
												}
												a.details {
													background: #699aa4;
													border: 0;
													border-radius: 0;
													color: #fff;
													font-size: 14px;
													height: 34px;
													line-height: 20px;
													letter-spacing: .05em;
													text-align: center;
													text-transform: uppercase;
													text-shadow: 1px 1px 3px rgba(0,0,0,.3);
													@include transition(.3s background-color ease-in-out);
													&:hover {
														background-color: #378797;
														text-decoration: none;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&#homes-nearby {
				border-bottom: 50px solid #edebe6;
				padding: 0 0 30px 0;
				.container {
					padding: 0;
					position: relative;
				}
				h3 {
					color: #a1a1a1;
					font-size: 15px;
					margin: 22px 0 19px 0;
					padding-left: 15px;
					text-transform: uppercase;
				}
				.controls {
					height: 16px;
					position: absolute;
					right: 0;
					top: 18px;
					width: 36px;
					.carousel-control {
						background: none;
						font-size: inherit;
						@include opacity(.4);
						position: static;
						@include transition(.3s opacity ease-in-out);
						-webkit-backface-visibility: hidden;
						width: auto;
						&:hover {
							@include opacity(1);
						}
					}
				}
				.item {
					&.active.right {
						.col-sm-6:not(:last-child) {
							.nearby-home {
								@include box-shadow(none);
							}
						}
					}
					&.active.left {
						.col-sm-6:not(:first-child) {
							.nearby-home {
								@include box-shadow(none);
							}
						}
					}
					.col-sm-6 {
						padding: 10px 15px;
						.nearby-home {
							@include box-shadow(0 0 5px rgba(0,0,0,.5));
							.row {
								&.home-img {
									border-bottom: 1px solid #fff;
									img {
										width: 100%;
									}
								}
								&.utilities {
									background: #d96e3a;
									color: #fff;
									font-size: 13px;
									font-weight: 300;
									padding: 10px 0;
									.col-xs-4 {
										border-right: 1px solid #fff;
										text-align: center;
										&:last-child {
											border-right: 0;
										}
										&.bedrooms {
											.number {
												background: url(../Images/bed-icon-white.png) no-repeat left center;
											}
										}
										&.bathrooms {
											.number {
												background: url(../Images/bathroom-icon-white.png) no-repeat left center;
											}
										}
										&.garage {
											.number {
												background: url(../Images/garage-icon-white.png) no-repeat left center;
											}
										}
										.content {
											display: inline-block;
											text-align: left;
											.number {
												display: block;
												font-size: 18px;
												padding-left: 30px;
												position: relative;
												text-align: left;
												img {
													bottom: 0;
													left: 0;
													position: absolute;
												}
											}
										}
									}
								}
								&.details {
									background: #fff;
									padding-bottom: 13px;
									h5 {
										color: #414141;
										float: left;
										font-size: 13px;
										text-transform: uppercase;
										&.price {
											font-size: 17px;
											float: right;
											text-transform: none;
											sup {
												font-size: 11px;
												padding-left: 2px;
											}
										}
										span {
											color: #8a8a8a;
											display: block;
											font-weight: 100;
											text-transform: none;
										}
									}
									.container-fluid {
										.col-xs-6 {
											padding: 0;
											position: relative;
											h5 {
												&.for-rent {
													background: #938f84;
													color: #fff;
													font-size: 12px;
													font-weight: 300;
													left: 0;
													margin: 0;
													padding: 6px 20px;
													position: absolute;
													text-transform: none;
													top: 0;
												}
											}
											a.details {
												background: #699aa4;
												border: 0;
												border-radius: 0;
												color: #fff;
												font-size: 14px;
												height: 34px;
												line-height: 20px;
												letter-spacing: .05em;
												text-align: center;
												text-transform: uppercase;
												text-shadow: 1px 1px 3px rgba(0,0,0,.3);
												@include transition(.3s background-color ease-in-out);
												&:hover {
													background-color: #378797;
													text-decoration: none;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&#social {
				background: #9eb9c2;
				border-bottom: 1px solid #7f9ba6;
				border-top: 6px solid #fff;
				height: 73px;
				padding: 17px 0;
				.container {
					.tool-tip {
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 5px solid #fff;
						display: block;
						height: 1px;
						left: 50%;
						margin-left: -8px;
						position: absolute;
						top: 0px;
						width: 1px;
					}
					h2 {
						color: #fff;
						float: left;
						font-size: 15px;
						line-height: 32px;
						margin: 0;
						text-transform: uppercase;
					}
					.icons {
						float: right;
						img {
							margin-left: 8px;
							@include opacity(.8);
							@include transition(.3s opacity ease-in-out);
							-webkit-backface-visibility: hidden;
							&:hover {
								@include opacity(1);
							}
						}
					}
				}
			}
			&#footer {
				background: #e4ebee;
				border-bottom: 1px solid #c2c4c9;
				height: 174px;
				.container {
					height: 173px;
					position: relative;
					ul {
						margin: 40px 0 0 0;
						padding: 0;
						li {
							float: left;
							font-weight: 300;
							list-style: none;
							margin-right: 70px;
							a {
								color: #414141;
								@include transition(.3s color ease-in-out);
								&:hover {
									color: #378797;
									text-decoration: none;
								}
							}
						}
					}
					h5 {
						bottom: 30px;
						color: #a7a7a7;
						font-weight: 300;
						left: 0;
						position: absolute;
						text-align: center;
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-lg-min) {
	html {
		body {
			.container-fluid {
				&#home-body {
					#search-panel {
						.tab-content {
							input[type="submit"] {
								width: 100%;
							}
							#search {
								.price-range {
									input[type="submit"] {
										width: 244px;
									}
								}
							}
						}
					}
				}
				&#listing {
					>.container {
						.col-sm-6 {
							&#listing-content {
								#google-map {
									height: 300px;
									margin-top: 40px;
								}
							}
							#home-photos {
								.carousel-inner {
									height: 312px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-md-min) {
	html {
		body {
			.container-fluid {
				&#home-body {
					#search-panel {
						.tab-content {
							input[type="submit"] {
								background-position: 10% center;
								font-size: 14px;
							}
							#code {
								label {
									font-size: 16px;
								}
							}
						}
					}
				}
				&#listing {
					>.container {
						.col-sm-6 {
							#home-photos {
								.carousel-inner {
									height: 238px;
								}
							}
							.col-lg-6 {
								&.price {
									h3 {
										float: left;
									}
									span {
										float: right;
									}
								}
							}
							.col-md-6 {
								&.contact-info {
									padding-right: 0;
								}
								&.realtor {
									float: none;
									margin-bottom: 20px;
								}
							}
							.col-xs-12 {
								input[type="submit"] {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 421px) {
	html {
		body {
			.container-fluid {
				&#home-body {
					#search-panel {
						ul {
							&.nav-tabs {
								li {
									a {
										span {
											display: block;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
	
@media (max-width: $screen-sm-min) {
	html {
		body {
			nav {
				&.navbar-default {
					height: auto;
					.navbar-collapse {
						.navbar-nav {
							margin: 0 -15px;
							li {
								border-bottom: 1px solid #c0c2c7;
								font-size: 15px;
								margin: 0;
								&:last-child {
									border-bottom: 0;
								}
								&.login {
									background-image: none;
									a {
										padding-left: 15px;
									}
								}
								&.active {
									a {
										background-color: #e6e6e6;
									}
								}
							}
						}
					}
				}
			}
			.container-fluid {
				&#home-body {
					height: auto;
					min-height: calc(100% - 297px);
					.home-modal {
						margin: 50px 0;
						h1 {
							font-size: 50px;
						}
						ul {
							&.nav-tabs {
								li {
									width: 50%;
									&.active {
										a {
											border-bottom: 1px solid #fff;
											border-left: 0;
											border-right: 0;
										}
									}
									a {
										border-bottom: 1px solid #c0c2c7;
										border-left: 1px solid #c0c2c7;
										display: block;
										width: 100%;
									}
								}
							}
						}
						.tab-content {
							padding: 40px 0;
							input[type="submit"] {
								background-image: none;
								padding-left: auto;
							}
							.bootstrap-select.btn-group>.dropdown-menu {
								max-height: 400px !important;
							}
							#code {
								height: auto;
								input[type="text"], select, .btn-group {
									margin-bottom: 20px;
								}
								label {
									margin-top: 0;
								}
							}
							#search {
								input[type=range]::-webkit-slider-runnable-track {
									height: 2px;
								}
								input[type=range]::-webkit-slider-thumb {
									height: 15px;
									margin-top: -6px;
									width: 15px;
								}
								input[type=range]::-moz-range-track {
									height: 2px;
								}
								input[type=range]::-moz-range-thumb {
									height: 15px;
									width: 15px;
								}
								input[type=range]::-ms-track {
									height: 2px;
								}
								input[type=range]::-ms-thumb {
									height: 15px;
									width: 15px;
								}
								.utilities {
									border-bottom: 1px solid #d9dadd;
									border-right: 0;
									height: auto;
									padding-bottom: 25px;
									
									section {
										.heading {
											margin-bottom: 15px;
										}
									}
								}
								.radius {
									border-bottom: 1px solid #d9dadd;
									padding: 25px 15px;
								}
								.price-range {
									border-left: 0;
									height: auto;
									padding: 25px 15px;
									.container-fluid {
										padding: 0;
										.bootstrap-select>.btn {
											background: url(../Images/select-bg.png) right center no-repeat #f9f9f9;
											height: 50px;
										}
										.col-sm-6 {
											&:first-child {
												padding-left: 15px;
												z-index: 2;
											}
											&:last-child {
												padding-right: 15px;
												z-index: 1;
											}
										}
										.to {
											padding: 10px 0;
											position: static;
										}
									}
									input[type="submit"] {
										position: static;
										width: 100%;
									}
								}
							}
						}
					}
				}
				&#content {
					padding: 0;
					.container {
						border-top: 1px solid #ddd;
						margin-top: 0;
						padding: 30px 15px 65px 15px;
						h3 {
							margin-top: 1.6em;
						}
						p {
							margin-bottom: 1.6em;
						}
					}
				}
				&#listing {
					>.container {
						.col-sm-6 {
							#home-photos {
								.carousel-inner {
									height: 192px;
								}
							}
							&#listing-content {
								h1 {
									margin-top: 1em;
								}
								p {
									font-size: 14px;
								}
								#google-map {
									margin-top: 30px;
								}
							}
						}
					}
				}
				&#homes-nearby {
					padding: 0 15px 30px 15px;
					.nearby-home {
						.row {
							&.utilities {
								.col-xs-4 {
									font-size: 15px;
									div {
										font-size: 15px;
									}
								}
							}
						}
					}
				}
				&#social {
					.container {
						.icons {
							img {
								@include opacity(1);
							}
						}
					}
				}
				&#footer {
					.container {
						height: auto;
						padding: 20px 0 0 0;
						ul {
							margin: 0;
							li {
								display: block;
								float: none;
								margin: 0 0 .8em 0;
								text-align: center;
							}
						}
						h5 {
							margin: 20px 0 0 0;
							position: static;
						}
					}
				}
			}
		}
	}
}